<nb-layout>

  <nb-layout-header fixed>
    <b>{{title}}</b>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <nb-card>
      <nb-card-header>Chatacter Generator</nb-card-header>
      <nb-card-body>
        <button nbButton (click)="generateAll()">Generate Character</button>
        <div class="cards-block">
          <nb-card *ngFor="let field of fields" >
            <nb-card-header>{{field}}</nb-card-header>
            <nb-card-body>
              <div >
                <input type="text" nbInput status="success" [(ngModel)]="generatorResults[field]" disabled>
                <button *ngIf="generatorResults[field]" nbButton ghost status="success" (click)="generateField(field)"><nb-icon icon="flip-2-outline"></nb-icon></button>
              </div>
             <div *ngIf="generatorResults[field]">
                <button nbButton (click)="goToLink(ref.baseLink + generatorResults[field])" *ngFor="let ref of refs">{{ref.name}}</button>
              </div>

              <!-- <iframe *ngFor="let ref of refs" [src]="ref.baseLink + generatorResults[field] | safe" class="frame">
              </iframe> -->
            </nb-card-body>
      </nb-card>
        </div>

      </nb-card-body>
    </nb-card>
    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer>

  </nb-layout-footer>

</nb-layout>
